<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div id="vnt-footer" th:fragment="footer">

    <div class="botFoot">
        <div class="wrapper">
            <div class="copyright">
                <div class="copy">
                    Copyright © 2018 <strong>biswell</strong>
                </div>
                <div class="per">-</div>
                <div class="tkw">
                    <a href="/" target="_blank" title="toiditimtoi" rel="dofollow" class="thietkeweb">Thiết kế web :</a>
                    <strong><a href="/" target="_blank" rel="dofollow">KAT</a>
                    </strong>
                </div>
            </div>

        </div>
    </div>
</div>
</html>