<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

    <head th:fragment="head">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
        <title>Công ty Cổ Phần Biswell</title>
        <meta name="keywords" content="Công ty Cổ phần Biswell Việt Nam"/>
        <meta name="description" content="Biswell Việt Nam"/>
        <meta name="robots" content="index, follow"/>
        <!-- <meta name="google-site-verification" content="aEmUg-7Z0H8FynZTBTzycgen1XIhJ8ExKGPLjmo2XfM" /> -->
        <meta name="author" content="katuan"/>
        <link rel="stylesheet" th:href="@{/css/index.css}"/>
    
        <link rel="canonical" href="https://biswell.vn/"/>
        <link rel="alternate" media="handheld" href="https://biswell.vn/"/>
        <link rel="SHORTCUT ICON" th:href="@{/images/logo.png}" type="image/x-icon"/>
        <link rel="icon" th:href="@{/images/logo.png}" type="image/gif"/>
    
        <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/slick.css}" rel="stylesheet"/>
        <link th:href="@{/css/jquery.fancybox.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/jquery.alerts.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/menumobile.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/animate.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/screenc619.css}" rel="stylesheet" type="text/css"/>
        <script language="javascript">
            var ROOT = "https://biswell.vn/";
            var ROOT_MOD = "trang-chu-2.html";
            var DIR_IMAGE = "https://biswell.vn/skins/default/images";
            var cmd = "vnTRUST";
            var lang = "vn";
            var mem_id = 0;
            var js_lang = new Array();
            js_lang["announce"] = "Thông báo";
            js_lang["error"] = "Có lỗi";
            js_lang["success"] = "Thành công";
        </script>
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery-migrate.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/slick.js}"></script>
        <script type="text/javascript" th:src="@{/js/menumobile.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.fancybox.js}"></script>
        <script type="text/javascript" th:src="@{/js/my_effect_scroll.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.alerts.js}"></script>
        <script type="text/javascript" th:src="@{/js/core.js}"></script>
        <script type="text/javascript" th:src="@{/js/style.js}"></script>
        <link rel="stylesheet" th:href="@{/css/product.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/mainc619.css}" type="text/css"/>
        <script type="text/javascript" th:src="@{/js/mainc619.js}"></script>
    
    </head>
</html>