<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div class="menu_mobile" th:fragment="menu_mobile">
    <div class="divmm">
        <div class="mmContent">
            <div class="mmMenu">
                <ul class="mmMain">
                    <li>
                        <a href="/">Về biswell</a>
                        <ul>
                            <li>
                                <a href="/" target="_self">Cột mốc đáng nhớ</a>
                            </li>
                            <li>
                                <a href="/" target="_self">Câu chuyện thương
                                    hiệu</a>
                            </li>
                            <li>
                                <a href="/" target="_self">Lời hứa của chúng
                                    tôi</a>
                            </li>
                            <li>
                                <a href="/" target="_self">Tôi muốn mua hàng</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/">Sản phẩm</a>

                    </li>

                    <li>
                        <a href="/">Tin tức</a>
                        <ul>
                            <li>
                                <a href="/" target="_self">Tin tức - Sự kiện</a>
                            </li>
                            <li>
                                <a href="/" target="_self">Hội chợ - Triển lãm</a>
                            </li>
                            <li>
                                <a href="/" target="_self">Sản Phẩm Mới</a>
                            </li>
                            <li>
                                <a href="/" target="_self">Tuyển dụng</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/">Góc báo chí</a>
                    </li>

                    <li><a href="lien-he.html">Liên hệ</a></li>
                </ul>
                <div class="mmSearch">
                    <!-- <form name="formSearch" method="POST" action="https://biswell.vn/vn/tim-kiem.html" class="box_search"
                      onSubmit="return check_search(this)">
                      <input name="keyword" id="keyword" type="text" class="text_search form-control"
                        placeholder="Nhập nội dung tìm kiếm" value="" />
                      <button type="submit" name="do_submit" id="do_submit_mb" class="">
                        <i class="fa fa-search"></i>
                      </button>
                    </form> -->
                </div>
            </div>
            <div class="close-mmenu"><i class="fa fa-times"></i></div>
        </div>
        <div class="divmmbg"></div>
    </div>
</div>
</html>