#vnt-navation {
  background: url(../images/bg2.png) repeat center center;
}
.mainFoot {
  background: url(../images/bg.png) repeat center center;
}
.mainHead {
  background: url(../images/bg2.png) repeat center center;
}
