#vnt-navation {
  background: url(../img/background_1-2.png) repeat center center;
}
.mainFoot {
  background: url(../img/background_1-2.png) repeat center center;
}
.mainHead {
  background: url(../img/background_1-2.png) repeat center center;
}
