<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

 <head th:replace="~{fragments/head::head}"></head>
  <body>
    <div id="vnt-wrapper">
      <div id="vnt-container">
        <div th:replace="~{fragments/header::header}"></div>
        <div id="vnt-content">
          <div class="vnt-main-top">
            <div id="vnt-slide" class="slick-init">
              <div class="item">
                <div class="img">
                  <img th:src="@{/images/banner.jpg}" />
                </div>
              </div>
            </div>
            <div id="vnt-navation" class="breadcrumb">
              <div class="wrapper">
                <div class="navation">
                  <ul>
                    <li>
                      <a href="https://biswell.vn/">
                        <span>Trang chủ</span>
                      </a>
                    </li>

                    <li>
                      <a href="/">
                        <span>Giới thiệu</span>
                      </a>
                    </li>

                    <li><span>About Biswell</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="vnt-background" class="v2">
            <div class="wrapCont">
              <div class="wrapper">
                <div class="box_mid">
                  <div class="mid-title">
                    <div class="titleL"><h1>About BISWELL</h1></div>
                    <div class="titleR"></div>
                    <div class="clear"></div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
        <div th:replace="~{fragments/footer::footer}"></div>
      </div>
    </div>
    <div class="menu_mobile">
      <div class="divmm">
        <div class="mmContent">
          <div class="mmMenu">
            <ul class="mmMain">
              <li>
                <a href="introduction.html">Về Biswell</a>
                <ul>

                </ul>
              </li>

              <li>
                <a href="/categories">Sản phẩm</a>
                <ul>

                </ul>
              </li>


              <li>
                <a href="/">Tin tức</a>

              </li>



              <li><a href="contact.html">Liên hệ</a></li>
            </ul>
            <div class="mmSearch">

            </div>
          </div>
          <div class="close-mmenu"><i class="fa fa-times"></i></div>
        </div>
        <div class="divmmbg"></div>
      </div>
    </div>
    <div id="vnt-tools-mobile" class="hidden-lg hidden-md">
      <ul>
        <li>
          <a href="tel:0947442788"><span class="fa-phone">Hotline</span></a>
        </li>
        <li>
          <a href="contact.html"
            ><span class="fa-map-marker">Xem bản đồ</span></a
          >
        </li>
      </ul>
    </div>
    <script language="javascript">
      function check_search(f) {
        var keyword = f.keyword.value;
        var key_len = f.keyword.value.length;
        if (
          keyword == "" ||
          keyword == "Nhập nội dung tìm kiếm" ||
          keyword == ""
        ) {
          // jAlert("Vui lòng nhập từ khóa");
          f.keyword.focus();
          return false;
        }
        if (key_len < 2) {
          jAlert("Từ khóa tới thiểu là 2 ký tự");
          f.keyword.focus();
          return false;
        }
        return true;
      }
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MH95T6W"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script type="text/javascript" th:src="@{/js/plusone.js}"></script>
    <!-- Subiz -->
    <script>
      (function (s, u, b, i, z) {
        u[i] =
          u[i] ||
          function () {
            u[i].t = +new Date();
            (u[i].q = u[i].q || []).push(arguments);
          };
        z = s.createElement("script");
        var zz = s.getElementsByTagName("script")[0];
        z.async = 1;
        z.src = b;
        z.id = "subiz-script";
        zz.parentNode.insertBefore(z, zz);
      })(
        document,
        window,
        "../../widgetv4.subiz.com/static/js/app.js",
        "subiz"
      );
      subiz("setAccount", "acphsfnqnmoaxgid14f1");
    </script>
    <!-- End Subiz -->
    <script>
      subiz("setLanguage", "vi-VN");
    </script>
  </body>
</html>
