<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>
<body>

    <link rel="stylesheet" href="https://dhfoods.com.vn/modules/product//css/product.css" type="text/css">
    <iframe allow="join-ad-interest-group" data-tagging-id="AW-494695734" data-load-time="1737041577003" height="0"
        width="0"
        src="https://td.doubleclick.net/td/rul/494695734?random=1737041577001&amp;cv=11&amp;fst=1737041577001&amp;fmt=3&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be51d0za200&amp;gcd=13l3l3l3l1l1&amp;dma=0&amp;tag_exp=101925629~102067555~102067808~102081485~102123608~102198178&amp;u_w=2048&amp;u_h=1152&amp;url=https%3A%2F%2Fdhfoods.com.vn%2Fvn%2Fmuoi-cham.html&amp;ref=https%3A%2F%2Fdhfoods.com.vn%2Fvn%2Fsan-pham.html&amp;hn=www.googleadservices.com&amp;frm=0&amp;tiba=Mu%E1%BB%91i%20Ch%E1%BA%A5m&amp;npa=0&amp;pscdl=noapi&amp;auid=1116308658.1737041534&amp;uaa=x86&amp;uab=64&amp;uafvl=Google%2520Chrome%3B131.0.6778.210%7CChromium%3B131.0.6778.210%7CNot_A%2520Brand%3B24.0.0.0&amp;uamb=0&amp;uam=&amp;uap=Windows&amp;uapv=15.0.0&amp;uaw=0&amp;fledge=1&amp;data=event%3Dgtag.config"
        style="display: none; visibility: hidden;"></iframe><iframe height="0" width="0"
        style="display: none; visibility: hidden;"></iframe>
    <script type="text/javascript" src="https://dhfoods.com.vn/js/mntab/mntab.js"></script>
    <script type="text/javascript" src="https://dhfoods.com.vn/modules/product//js/product.js"></script>
    <style type="text/css">
        #vnt-navation {
            background: url('https://dhfoods.com.vn/vnt_upload/weblink/background_1-2.png') repeat center center;
        }

        .mainFoot {
            background: url('https://dhfoods.com.vn/vnt_upload/weblink/background_1-2.png') repeat center center;
        }

        .mainHead {
            background: url('https://dhfoods.com.vn/vnt_upload/weblink/background_1-2.png') repeat center center;
        }
    </style>


    <div id="vnt-wrapper">
        <div id="vnt-container">
            <div id="vnt-header">
                <div class="topHead hidden-sm hidden-xs">
                    <div class="wrapper">
                        <!--<div class="hotlineTop">Hotline : <span><a href="tel: 0947442788">0947442788</a></span></div>-->
                        <div class="languageTop">
                            <ul>
                                <li>
                                    <a href="/" title="Tiếng Việt" class="active">
                                        <img th:src="@{/images/flag/flag-vn.svg}" title="Tiếng Việt" />
                                        <span>Tiếng Việt</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/" title="English">
                                        <img th:src="@{/images/flag/flag-en.svg}" title="English" />
                                        <span>English</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mainHeadWrap">
                    <div class="mainHead">
                        <div class="wrapper">
                            <div class="wrap">
                                <div class="logo">
                                    <a onmousedown="return rwt(this,'advertise',3)" href="/" target="_self"
                                        title="Biswell">
                                        <img th:src="@{/images/logo.png}" alt="Biswell" />
                                    </a>
                                    <h1 style="display: none">Biswell</h1>
                                </div>
                                <div class="header-tools hidden-sm hidden-xs">
                                    <div class="menuTop">
                                        <ul>
                                            <li class="">
                                                <a href="/" target="_self">Về Biswell</a>
                                                <ul>
                                                    <li>
                                                        <a href="/" target="_self">Cột mốc đáng nhớ</a>
                                                    </li>
                                                    <li>
                                                        <a href="/" target="_self">Câu chuyện thương hiệu</a>
                                                    </li>
                                                    <li>
                                                        <a href="/" target="_self">Lời hứa của chúng tôi</a>
                                                    </li>
                                                    <li>
                                                        <a href="/" target="_self">Tôi muốn mua hàng</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="">
                                                <a href="/categories" target="_self">Sản phẩm</a>
                                            </li>

                                            <li class="">
                                                <a href="/" target="_self">Tin tức</a>
                                                <ul>
                                                    <li>
                                                        <a href="/" target="_self">Tin tức - Sự
                                                            kiện</a>
                                                    </li>
                                                    <li>
                                                        <a href="/" target="_self">Sản Phẩm Mới</a>
                                                    </li>
                                                    <li>
                                                        <a href="/" target="_self">Tuyển dụng</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="">
                                                <a href="/" target="_self">Góc báo chí</a>
                                            </li>

                                            <li class="">
                                                <a href="/" target="_self">Liên hệ</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="header-tools hidden-lg hidden-md">
                                    <div class="languageMobile">
                                        <ul>
                                            <li>
                                                <a href="/" title="Tiếng Việt" class="active">
                                                    <img th:src="@{/images/flag/flag-vn.svg}" title="Tiếng Việt" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/" title="English">
                                                    <img th:src="@{/images/flag/flag-en.svg}" title="English" />
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="menu_mobile hidden-lg hidden-md">
                                        <div class="icon_menu">
                                            <span class="style_icon"></span>Menu
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="vnt-content">
                <div class="vnt-main-top">
                    <div id="vnt-slide" class="slick-init">
                        <div class="item">
                            <div class="img">
                                <img
                                    src="https://dhfoods.com.vn/vnt_upload/product/10_2020/dh-foods-muoi-cham-tay-ninh-1.jpg">
                            </div>
                        </div>
                    </div>
                    <div id="vnt-navation" class="breadcrumb">
                        <div class="wrapper">
                            <div class="navation">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="vnt-background" class="bg">
                    <div class="wrapCont">
                        <div class="wrapper">
                            <div class="box_mid v2">
                                <div class="mid-title">
                                    <div class="titleL white">
                                        <h1>Bàn chải</h1>
                                    </div>
                                    <div class="titleR"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="mid-content">

                                    <div class="vnt-product">
                                        <div class="row" >

                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" th:each="item : ${dataList}">
                                                <div class="product">
                                                    <div class="img">
                                                        <a th:href="@{/product/{id}(id=${item.id})}">
                                                            <img th:src="@{${item.mainImagePath}}"></a>
                                                    </div>
                                                    <div class="tend">
                                                        <h3><a
                                                            th:href="@{/product/{id}(id=${item.id})}"  th:text="${item.pname}"></a></h3>
                                                    </div>
                                                    <div class="link"><a
                                                        th:href="@{/product/{id}(id=${item.id})}"><span>Xem chi tiết</span></a></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="pagination text-center">
                                        <ul>
                                            <!-- Các trang -->
                                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                                                <span th:if="${i == currentPage}" class="pagecur" th:text="${i + 1}"></span>
                                                <a th:if="${i != currentPage}"
                                                   th:href="@{/categories/{id}(id=${categoryId}, page=${i}, size=5)}"
                                                   class="pagelink" th:text="${i + 1}"></a>
                                            </li>
                                            <!-- Trang kế tiếp -->
                                            <li th:if="${currentPage < totalPages - 1}">
                                                <a th:href="@{/categories/{id}(id=${categoryId}, page=${currentPage + 1}, size=5)}"
                                                   class="btnPage">❯<!--<i class="">❯</i>--></a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/footer::footer}"></div>
        </div>
    </div>
    <div class="menu_mobile menu_default">
        <div class="divmm">
            <div class="mmContent">
                <div class="mmMenu">

                    <div class="mmSearch">
                        <form name="formSearch" method="POST" action="https://dhfoods.com.vn/vn/tim-kiem.html"
                            class="box_search" onsubmit="return check_search(this)">
                            <input name="keyword" id="keyword" type="text" class="text_search form-control"
                                placeholder="Nhập nội dung tìm kiếm" value="">
                            <button type="submit" name="do_submit" id="do_submit_mb" class=""><i
                                    class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="close-mmenu"><i class="fa fa-times"></i></div>
            </div>
            <div class="divmmbg"></div>
        </div>
    </div>
    <div id="vnt-tools-mobile" class=" hidden-lg hidden-md">
        <ul>
            <li><a href="tel:0947442788"><span class="fa-phone">Hotline</span></a></li>
            <li><a href="https://dhfoods.com.vn/vn/lien-he.html"><span class="fa-map-marker">Xem bản đồ</span></a></li>
        </ul>
    </div>
    <script language="javascript">
        function check_search(f) {
            var keyword = f.keyword.value;
            var key_len = f.keyword.value.length;
            if ((keyword == '') || (keyword == "Nhập nội dung tìm kiếm") || (keyword == "")) {
                // jAlert("Vui lòng nhập từ khóa");
                f.keyword.focus();
                return false;
            }
            if (key_len < 2) {
                jAlert("Từ khóa tới thiểu là 2 ký tự");
                f.keyword.focus();
                return false;
            }
            return true;
        }	
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MH95T6W" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js" gapi_processed="true"></script>
    <!-- Subiz -->
    <script>
        (function (s, u, b, i, z) {
            u[i] = u[i] || function () {
                u[i].t = +new Date();
                (u[i].q = u[i].q || []).push(arguments);
            };
            z = s.createElement('script');
            var zz = s.getElementsByTagName('script')[0];
            z.async = 1; z.src = b; z.id = 'subiz-script';
            zz.parentNode.insertBefore(z, zz);
        })(document, window, 'https://widgetv4.subiz.com/static/js/app.js', 'subiz');
        subiz('setAccount', 'acphsfnqnmoaxgid14f1');
    </script><!-- End Subiz -->
    <script>
        subiz('setLanguage', 'vi-VN');
    </script>

    <a href="javascript:void(0)" onclick="jQuery('html,body').animate({scrollTop: 0},1000);" class="go_top"
        style="display: none;"></a>


</body>



</html>